body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #D3DEDC;
  height: 90vh;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  padding-top: 40px;
  left: 200px;
}

.mountain-img{
  position: absolute;
  top: 25%;
  bottom: 50%;
}
.profile{
  padding: 50px;
}
.bottom-cloud {
  position: absolute;
  padding-top: 300px;
  right: 250px;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: #11999E;
  font-size: 4.375rem;
  padding-top: 100px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

h2 {
  font-weight: normal;
  color: #11999E;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
}

.contact-me {
  width: 40%;
  line-height: 2;
  margin: 40px auto 60px;
}

.intro {
  margin: auto;
  width: 30%;
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.a {
  color: #11999E;
}

.computer {
  float: left;
  margin-right: 30px;
  width: 35%;
}
.photography {
  float: left;
  margin-right: 30px;
  width: 35%;
}

.skill {
  width: 35%;
  margin-left: 30px;
  float: right;
}

.middle-container {
  background-color: white;
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 50px;
}

.copyright {
  color: #EAF6F6;
  size: 0.75rem;
  padding: 50px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
